/* Font related */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=ZCOOL+XiaoWei&display=swap');

h1 {
    font-size: 40px;
}

p {
    color:rgba(0, 0, 0, 0.9) ;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* End */


/* Nav bar */
#white-bg {
    background-color: white !important;
}

nav .navbar-brand
{
    font-size: xx-large;
}
/* End */


/* LOGIN and REGISTER page */
.login-register-header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: 0 20px 0 0;
}

.login-container {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 3rem;
    text-align: center;
    height: 67vh;
    border-radius: 0 0 20px 0;
}

.register-container {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 3rem;
    text-align: center;
    height: 67vh;
    border-radius: 0 0 20px 0;
}

#login-photo {
    min-width: 100%;
    max-height: 90vh;
    padding-bottom: 20px;
    border-radius: 25px 0 0 0;
}

#logo {
    font-family: 'ZCOOL XiaoWei', serif !important;
    color: rgb(128, 0, 0);
    padding-left: 10rem;
}

#login-register-button, #login-register-button:hover {
    background-color: white;
    color: rgb(128, 0, 0);
    border-color: rgba(0, 0, 0, 0.226);
}

.login-register-h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

hr {
    display: block;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    margin-left: 5em;
    margin-right: 5em;
    border-width: 2px !important;
    border-radius: 20px;
    border: solid;
    color: rgb(255, 255, 255);
    opacity: 0.95;
}

  
.login-register-question {
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
}
/* End */


/* HOME page */
.users-post-header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0 25% 0 25%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.users-post-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: solid;
    border-width: 3px;
    border-color: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    margin: 5px 25% 20px 25%;
    padding: 0.6rem;
    text-align: center;
    border-radius: 0 0 1rem 1rem;
}

.others-post-header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    margin: 35px 25% 0 25%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.others-post-container {
    background-color: rgba(128, 0, 0, 0.05);
    border: solid;
    border-width: 3px;
    border-color: rgb(128, 0, 0);
    color: rgb(0, 0, 0);
    margin: 5px 25% 20px 25%;
    padding: 0.6rem;
    text-align: center;
    border-radius: 5px;
}

.main-button, .main-button:hover{
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(128, 0, 0);
    width:100px;
    font-size: 16px;
}

.username {
    color:rgba(128, 0, 0, 0.8);
    font-style: italic;
}
/* End */


/* SETTINGS page */
.setting-button, .setting-button:hover{
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(128, 0, 0);
    width:170px;
    font-size: 16px;
}
/* End*/


/* Positional */
.row {
    display: flex !important;
}

.column {
    float: left;
}

.left {
    width: 60% !important;
}
  
.right {
    width: 40% !important;
}

.rem6-right-padding {
    padding-right: 6rem !important;
}

.rem5-right-padding {
    padding-right: 5rem !important;
}

input {
    margin-bottom: 20px !important; 
}

.px65-margin-right {
    padding-right: 65px;
}
/* End */


/* Feedback messages */
.error {
    color:rgb(128, 0, 0.8) !important;
}

.error-white {
    color:rgb(255, 255, 255) !important;
    position: relative;
    bottom: 12px;
}

.success {
    color: rgb(0, 214, 39) !important;
}
/* End */