{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="users-post-header">
        <h1> What's on your mind? </h1>
    </div>

    <div class="users-post-container">
        <form action="/" method="post">
            <div class="mb-3">
                <input class="form-control" id="title" name="title" placeholder="Title" type="text" >
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="content" name="content" placeholder="Let loose ..." rows = "7" maxlength="500" style="resize: none"></textarea>
            </div>
            <button class="btn btn-primary" id="home-button" type="submit"> Post </button>
        </form>
    </div>

    <div class="others-post-header">
        <h1> Posts from fellow CS50 students </h1>
    </div>

        <table>
            <tbody>
                {% for post in posts %}
                <div class="users-post-container">
                        <p><strong> @{{ post["username"] }} </strong></p>
                         <h2>{{ post["title"] }} </h2>
                        <p>{{ post["content"] }} </p>
                        <p>{{ post["time"] }} </p>
                </div>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}