{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}

    <div class="users-post-header">
        <h1> My account </h1>
    </div>

    <div class="users-post-container">
 
    </div>

    <div class="users-post-header">
        <h1> Change Password </h1>
    </div>

    <div class="users-post-container">
        <form action="/password" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current password" type="text" autocomplete="off">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="text" autocomplete="off">
                <p> {{ error_password }}</p>
                <p> {{ error_wrong_password }}</p>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="text" autocomplete="off">
                <p> {{ error_reenter_password }}</p>
                <p> {{ error_password_match }}</p>
            </div>
            <button class="btn btn-primary setting-button" type="submit"> Update password </button>
        </form>
    </div>

    <div class="users-post-header">
        <h1> Delete account </h1>
    </div>

    <div class="users-post-container">
        <form action="/delete-account" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="delete-username" name="delete-username" placeholder="Username" type="text" maxlength="20">
                <p> {{ error_username }}</p>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="delete-password" name="delete-password" placeholder="Password" type="password">
                <p> {{ error_password }}</p>
                <p> {{ error_invalid }}</p>
            </div>
            <button class="btn btn-primary setting-button" type="submit"> Delete account </button>
        </form>
    </div>

{% endblock %}